@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #131415;
  --color-white-translucent: rgb(255, 255, 255, .64);
  --color-white-translucent-strong: rgb(255, 255, 255, .24);
  --color-white: #FFFFFF;

  --transition: all .2s ease-in-out;
}

html,
body {
  background-color: var(--color-black);
  color: var(--color-white);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: var(--color-white-translucent);
  transition: var(--transition);
  width: fit-content;
}

a:hover {
  color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.border-b-gray {
  border-bottom: 1px solid var(--color-white-translucent-strong);
}

.border-t-gray {
  border-top: 1px solid var(--color-white-translucent-strong);
}

button {
  cursor: pointer;
  transition: var(--transition);
}

#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

.hero-overlay {
  background-color: rgb(0, 0, 0, .4);

  position: absolute;
  left: 0;
  top: 0;
}

.hover-arrow-right {
  color: var(--color-white-translucent);
}

.hover-arrow-right:hover {
  color: var(--color-white);
}

.hover-arrow-right .arrow-right {
  opacity: 0;
  position: relative;
  transform: translateX(-1rem);
  transition: var(--transition);
}

.hover-arrow-right:hover .arrow-right {
  opacity: 1;
  transform: translateX(-.25rem);
}

hr {
  border: none;
}

.hr-header {
  background-color: var(--color-white);

  margin-right: 1rem;
  height: .1rem;
  width: 2rem;
}

input {
  background-color: transparent;
  border-bottom: 1px solid var(--color-white-translucent-strong);
}

#navbar {
  height: fit-content;
  position: fixed;
  top: 0;
  transition: transform 0.4s ease-in-out;
}

.nav-links {
  position: sticky;
  top: 0;
}

.nav-hidden {
  transform: translateY(-100%);
}

.project-showcase:last-child {
  position: relative;
  transform: translateY(5rem);
}

.project-showcase div {
  opacity: .64;
  transition: var(--transition);
}

.project-showcase:hover div {
  opacity: 1;
}

.row-solution:first-child {
  border-top: 1px solid var(--color-white-translucent-strong);
}

.row-solution:hover {
  background-color: rgb(255, 255, 255, .04);
}

.text-white {
  color: var(--color-white);
}

.text-white-translucent {
  color: var(--color-white-translucent);
}